<%- include('template/cabezera.ejs')  %>
<body>
    
<% for (var i=0; i<imagenes.length; i++) { %>

<form action="/admin/agregarImagenes" method="post" id="contact-form" class="form">
  <div class="input-group">   
     <h4>form</h4>
        <br>  
        <label for="producto_id">producto_id</label>
        <input class="controls" type="number" name="producto_id" id="producto_id" value="<%= imagenes[i].producto_id %>" required>
        <br>
        <label for="url">url</label>
        <input class="controls" type="text" name="url" id="url" value="<%= imagenes[i].url %>" required>
        <br>
        <label for="destacado">destacado</label>
        <input class="controls" type="text" name="destacado" id="destacado" value="<%= imagenes[i].destacado %>" required>
        <br>
        <label for="id">id</label>
        <input class="controls" type="id" name="id" id="id" value="<%=  imagenes[i].id %>" required>
        <br>
        <input class="g-recaptcha" type="submit" >
    </div>
  </form>
    <% } %>
</body>
</html>