<%- include('template/cabezera.ejs')  %>
<body>
  <br>
  <div class="button-container">
    <form action="/imagenes" method="get">
      <button type="submit" class="list">lista de imágenes</button>
    </form>
    <form action="/categoria" method="get">
      <button type="submit" class="list">lista de categoría</button>
    </form>
  </div>
  <br>
  <h1 class="l">lista de productos</h1>
  <br>
  <h2>productos</h2>
  <br>
  <form action="/admin/agregar" method="get">
    <button type="submit" class="list">agregar producto</button>
  </form>
  <br>
  <table class="u">
    <thead>
      <tr>
        <th class="o">id</th>
        <th class="o"class="o">Nombre</th>
        <th class="o">codigo</th>
        <th class="o">precio</th>
        <th class="o">descripcion</th>
        <th class="o">marca</th>
        <th class="o">grados alcohol</th>
        <th class="o">categoria_id</th>
        <th class="o">editar</th>
        <th class="o">borrar</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<productos.length; i++) { %>
        <tr>
          <td class="i"><%= productos[i].id %></td>
          <td class="i"><%= productos[i].name %></td>
          <td class="i"><%= productos[i].code %></td>
          <td class="i"><%= productos[i].price %></td>
          <td class="i"><%= productos[i].description %></td> 
          <td class="i"><%= productos[i].brand %></td>
          <td class="i"><%= productos[i].size %></td>
          <td class="i"><%= productos[i].categoria_id %></td>
          
          <td>
          <a href="/admin/<%= productos[i].id %>/actualizar" class="add">Editar</a>
        </td>
        <td>
          <a href="/admin/<%= productos[i].id %>/delete" class="add">borrar</a>
        </td>
        </tr>
      <% } %>
    </tbody>
  </table>  
</body>