<%- include('template/cabezera.ejs')  %>
<body>
  <br>
  <div class="button-container">
    <form action="/imagenes" method="get">
      <button type="submit" class="add">lista de imágenes</button>
    </form>
    <form action="/categoria" method="get">
      <button type="submit" class="list">lista de categoría</button>
    </form>
  </div>
  <br>
  <h1 class="l">lista de productos</h1>
  <br>
  <h2>productos</h2>
  <br>
  <form action="/admin/agregar" method="get">
    <button type="submit" class="add">agregar producto</button>
  </form>
  <br>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>codigo</th>
        <th>precio</th>
        <th>descripcion</th>
        <th>editar</th>
        <th>marca</th>
        <th>talla</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<productos.length; i++) { %>
        <tr>
          <td><%= productos[i].id %></td>
          <td><%= productos[i].name %></td>
          <td><%= productos[i].code %></td>
          <td><%= productos[i].price %></td>
          <td><%= productos[i].description %></td> 
          <td><%= productos[i].brand %></td>
          <td><%= productos[i].size %></td>
          <td>
          <a href="/admin/<%= productos[i].id %>/actualizar" class="add">Editar</a>
        </td>
        </tr>
      <% } %>
    </tbody>
  </table>  

</body>

