<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mi tienda</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/registro">registro</a>
        </li>
       
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Buscar..."
              aria-label="Search"
              id="buscador"
            />
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>






<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">












<% for (var i=0; i<productosConImagenes.length; i++) { %>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Product",
      "name": "<%= productosConImagenes[i].name %>",
      "image": "<%= productosConImagenes[i].url %>",
      "description": "<%= productosConImagenes[i].description %>",
      "brand": "<%= productosConImagenes[i].brand %>",
      "offers": {
        "@type": "Offer",
        "price": "<%= productosConImagenes[i].price %>",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock"
      }
    }
  </script>
    <% } %> 








  <!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-XW92K2FYXY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XW92K2FYXY');

  </script>


<!-- HTML Meta Tags -->
<title>tienda de ropa</title>
<meta name="description" content="tienda para tu bebe">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://p3-31786816.onrender.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="tienda de ropa">
<meta property="og:description" content="tienda para tu bebe">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/documents/3d395e5f-002a-4667-b910-048fbba7fab5.png?token=tW9ytKJowbI6xCgNw1zFNwUrlk6tGFFefgeFslIYDBY&height=676&width=1200&expires=33243000123">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="p3-31786816.onrender.com">
<meta property="twitter:url" content="https://p3-31786816.onrender.com/">
<meta name="twitter:title" content="tienda de ropa">
<meta name="twitter:description" content="tienda para tu bebe">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/documents/3d395e5f-002a-4667-b910-048fbba7fab5.png?token=tW9ytKJowbI6xCgNw1zFNwUrlk6tGFFefgeFslIYDBY&height=676&width=1200&expires=33243000123">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->